---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import SeriesArrowCard from "@components/SeriesArrowCard.astro";
import { SERIES } from "@consts";

const series = (await getCollection("series"))
  .filter((eachSeries) => !eachSeries.data.draft)
  .sort((a, b) => b.data.title.localeCompare(a.data.title));
---

<Layout title={SERIES.TITLE} description={SERIES.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Projects
      </div>
      <ul class="animate not-prose flex flex-col gap-4">
        {
          series.map((eachSeries) => (
            <li>
              <SeriesArrowCard entry={eachSeries} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
